nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') My Family
    ul.nav.navbar-nav
      li.active
        a(href='/inderpreet') Inderpreet
      li
        a(href='/gurmeer') Gurmeer
      li
        a(href='/love') Love
      li
        a(href='/yashpal') Yashpal
