extends layout

block content
  .jumbotron
    h4.text-center I am Inderpreet. I love coding and programming, expecially Web DEvelopment with JavaScript. I love to create new things and explore them which are available on the Planet but out of our contact.